---
layout: page
title: Jogos
---

<!-- <h1 class="samurai-font"> GAMES </h1> -->

<hr style="margin-top:0">

<section class="entry-list">
    {% for game in site.data.games %}
        <article class="game-entry">
            {% if game.image_path %}
                <a class="game-image" href="{{ game.external_url }}" target="_blank">
                    <img src="{{ site.url }}/assets/images/game-projects/{{ game.image_path }}">
                </a>
            {% endif %}
            {% if game.title %}
                <h3 class="game-title">
                    <a href="{{ game.external_url }}" target="_blank">
                        {{ game.title }}
                    </a>
                </h3>
            {% endif %}
            {% if game.description %}<p class="game-description">{{ game.description }}</p>{% endif %}

            {% if game.genre %}<p class="game-genre">{{ game.genre }}</p>{% endif %}

            {% if game.support %}
                <ul class="game-icons">
                {% for support_platform in game.support %}
                    <li>
                        <i class="fa fa-{{support_platform}}"></i>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        </article>
    {% endfor %}
</section>
