.entry-list
	display: flex
	flex-wrap: wrap
	justify-content: space-between
.game-entry
	margin-bottom: 30px
	width: 100%
	@media (min-width: 550px)
		width: calc(50% - 10px)
	@media (min-width: 850px)
		width: calc(33.3333% - 20px)

.game-image
	display: block
	img
		width: 100%
		display: block
	
.game-title
	margin: 10px 0 0 0 

.game-description
	margin: 10px 0 0 0 
	line-height: 1.6
	font-size: 14px

.game-icons
	list-style-type: none
	margin: 0
	padding: 0
	li
		display: inline-block
		padding: 0 5px
.game-genre
	margin: 0 0 0 0
	line-height: 1.6
	font-size: 14px
	font-weight: 600
